# Simple exercises for Basic Data Types in Python

## Numbers

#### 1. Assign any number of type integer to the variable "num_1"

In [2]:
num_1 =5

#### 2. Assign any number of type float to the variable "num_2"

In [3]:
num_2 = 5.4

#### 3. Create the variable "total" as the sum of variables "num_1" and "num_2"

In [4]:
total = num_1 + num_2

#### 4. Check the type of the variable "total"

In [5]:
type(total)

float

#### 5. Assign your height to the variable "height"

In [6]:
height = 5.11

#### 6. Assign your weight to the variable "mass"

In [7]:
mass = 128

#### 7. Create the variable "bmi" :
hint: bmi = weight / (height*height)

In [8]:
bmi = mass / height ** 2

#### 8. Print the value of the "bmi" variable

In [9]:
print(bmi)

4.90194201155786

# String

#### 1. Create the variable "name" with your first name

In [10]:
name = "Jibu"

#### 2. Create the variable "surname" with your surname

In [11]:
surname = "Thomas"

#### 3. Create the variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [12]:
name_surname = name + " " + surname

#### 4. Print the variable "name_surname"

In [13]:
print(name_surname)

Jibu Thomas

#### 5. Print the first letter of the variable "name_surname"

In [14]:
print(name_surname[0])

J

#### 6. Print your name (without any enmpty space) from the variable "name_surname"

In [15]:
print(name_surname.replace(" ",""))

JibuThomas

#### 7. Print your surname 10x (use variable "surname")

In [16]:
surname*10

'ThomasThomasThomasThomasThomasThomasThomasThomasThomasThomas'

#### 8. Create the variable "greeting" with the message "Hello my name is " + your name and surname (use "name_surname" variable)

In [17]:
greeting = "hello my name is " + name_surname

In [18]:
print(greeting)

hello my name is Jibu Thomas

#### 9. Print the "message" variable

## List

#### 1. Create an empty list named "empty_list"

In [19]:
empty_list = []

#### 2. Create a list called "heights" with five random values

In [20]:
import random

In [21]:
heights = list(random.randint(150,200) for i in range(5))

In [22]:
heights

[184, 162, 178, 194, 197]

#### 3. Print "heights"

#### 4. Print the type of variable for "heights"

In [23]:
type(heights)

list

#### 5. Print the second value from "heights"

In [24]:
heights[1]

162

#### 6. Assign the last three values from "heights" to another list called "heights_2"

In [25]:
heights_2 = heights[2:]

#### 7. Print "heights_2"

In [26]:
heights_2

[178, 194, 197]

In [27]:
heights

[184, 162, 178, 194, 197]

#### 8. Create the variable "list_all" with values from lists "heights" and "heights_2"

In [28]:
list_all = heights + heights_2

#### 9. Print "list_all"

In [29]:
list_all

[184, 162, 178, 194, 197, 178, 194, 197]

#### 10. Print the type of "list_all"

In [30]:
type(list_all)

list

## Tuple

#### 1. Create an empty tuple called "empty_tuple"

In [31]:
empty_tuple = ()

#### 2. Try to assign your name to the first position of "empty_tuple" and check the type of error that occurs

In [32]:
empty_tuple[0] = ("jibu")

TypeError: 'tuple' object does not support item assignment

#### 3. Based on the error that occured in the above question, what is the main difference between a list and a tuple?

In [33]:
empty_list = empty_list.append("Jibu")

In [34]:
empty_list = []

In [35]:
empty_list = empty_list + ["Jibu"]

In [36]:
empty_list

['Jibu']

In [37]:
empty_tuple + ("Jibu")

TypeError: can only concatenate tuple (not "str") to tuple

## Dictionary

#### 1. Create an empty dictionary named "empty_dict"

In [38]:
empty_dict = {}

#### 2. Create a dictionary called "heights_dict" with your name as a key and height as a value

In [39]:
heights_dict = {"Jibu": 180}

In [40]:
heights_dict["Joel"] = 190

In [41]:
heights_dict

{'Jibu': 180, 'Joel': 190}

#### 3. Assign another name and height to "heights_dict"

In [42]:
heights_dict["kevin"] = 200

#### 4. Print "heights_dict"

In [43]:
print(heights_dict)

{'Jibu': 180, 'Joel': 190, 'kevin': 200}

#### 5. Print your height from the "heights_dict" dictionary

In [44]:
heights_dict["Jibu"]

180

#### 6. Print all values from the "heights_dict" dictionary

In [45]:
heights_dict.values()

dict_values([180, 190, 200])

#### 7. Print all keys from the "heights_dict" dictionary

In [46]:
heights_dict.keys()

dict_keys(['Jibu', 'Joel', 'kevin'])

In [47]:
heights_dict["thendi"] = 180