# Simple exercises for control structures in Python
- conditionals
- while loops
- for loops

## FOR loop

In [2]:
heights = [1.82,1.75,1.68,1.76,1.5]

#### 0. Use for loop to print values from "heights" list

In [3]:
for height in heights:
    print(height)

1.82
1.75
1.68
1.76
1.5

#### 1. Use for loop for printing only values bigger than 1.75

In [4]:
for height in heights:
    if height > 1.75:
        print(height)

1.82
1.76

#### 2. Use for loop for printing all values until you find value 1.68 (included)

In [9]:
for height in heights:
    if height != 1.68:
        print(height)
    else:
        print(height)
        break

1.82
1.75
1.68

#### 3. Modify the previous loop to print all values from `"heights"` without value 1.68

In [10]:
for height in heights:
    if height != 1.68:
        print(height)
    else:
        continue

1.82
1.75
1.76
1.5

#### 4. use for loop over to iterate over `"heights"` and print "high" for values bigger than 1.75, "medium" for values between 1.68 and 1.75 and "small" for values lower than 1.68

In [11]:
for height in heights:
    if height > 1.75:
        print("High")
    elif height <= 1.75 and height >= 1.68:
        print("Medium")
    else:
        print("Low")

High
Medium
Medium
High
Low

In [12]:
heights

[1.82, 1.75, 1.68, 1.76, 1.5]

## WHILE loop

#### 1. Print out numbers from 0 to 4

In [13]:
for i in range(5):
    print(i)

0
1
2
3
4

#### 2. use while loop to print out only even numbers lower than 15
hint : use `"%"` modulo operator

In [19]:
i = 2
while i < 15:
    print(i)
    i +=2

2
4
6
8
10
12
14

#### 3. use while loop to print all numbers lower than 15 but skip first five values

In [28]:
i=0
while i < 15:
    i +=1
    if i >= 5 and i < 15:
        print(i)

5
6
7
8
9
10
11
12
13
14

## Actors
We have two lists actors and roles which are defined below:

In [31]:
actors = [
    "Nathan Fillion",
    "Gina Torres",
    "Alan Tudyk",
    "Morena Baccarin",
    "Adam Baldwin",
    "Jewel Staite",
    "Sean Maher",
    "Summer Glau",
    "Ron Glass"
]

roles = [
    "Captain Malcolm Reynolds",
    "Zoe Washburn",
    "Hoban Washburn",
    "Inara Serra",
    "Jayne Cobb",
    "Kaylee Frye",
    "Dr. Simon Tam",
    "River Tam",
    "Derrial Book"
]

We would like to produce a credit reel, by matching each actor with their role in the show. We know that both lists are in the correct order, such that for any number—let's say `n`—we know that `actors[n]` and `roles[n]` match. For example, `actors[3]` gives us "Morena Baccarin," and `roles[3]` gives us "Inara Serra," so we know that Morena Baccarin played Inara Serra in the show. **We want to print out the credits for all of the actors in the list.**

Here's an example of what we want to see when the code runs:

Featuring:<br>
=============<br>
Nathan Fillion as Captain Malcolm Reynolds"<br>
....

In [32]:
for i in range(len(actors)):
    print(f"Featureing: \n=============\n{actors[i]} as {roles[i]}")

Featureing:
=============
Nathan Fillion as Captain Malcolm Reynolds
Featureing:
=============
Gina Torres as Zoe Washburn
Featureing:
=============
Alan Tudyk as Hoban Washburn
Featureing:
=============
Morena Baccarin as Inara Serra
Featureing:
=============
Adam Baldwin as Jayne Cobb
Featureing:
=============
Jewel Staite as Kaylee Frye
Featureing:
=============
Sean Maher as Dr. Simon Tam
Featureing:
=============
Summer Glau as River Tam
Featureing:
=============
Ron Glass as Derrial Book